<!DOCTYPE html>
<html>
  <head>
    <title>Stinkylinks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'app' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
        <%= link_to(edit_user_registration_path, :class => "nav-link") do %>
          Yo
        <% end %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link' %>
        <%= link_to "Login", new_user_session_path, :class => 'nav-link' %>
      <% end %>
    <%= yield %>
  </body>
</html>
